---
const currentYear = new Date().getFullYear();
---

<footer class="footer">
	<div class="container">
		<p class="is-size-7">Right Order | 416 986 1059</p>
		<p class="is-size-7">© {currentYear} Right Order. All rights reserved.</p>
	</div>
</footer>
