---
import { Image } from 'astro:assets';
import logo from '../img/logo.svg';
import about from '../img/nav-about.svg';
import services from '../img/nav-services.svg';
import contact from '../img/nav-contact.svg';
---

<header class="navbar is-transparent" role="banner">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" id="logo" href="/" aria-label="Right Order home">
				<Image src={logo} alt="Right Order" />
			</a>
			<button class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="primaryNav">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</button>
		</div>
		<div id="primaryNav" class="navbar-menu">
			<div class="navbar-end">
				<a class="navbar-item" href="#about"><Image src={about} alt="About Right Order" /></a>
				<a class="navbar-item" href="#services"><Image src={services} alt="Right Order Services" /></a>
				<a class="navbar-item linktoform" href="#contact"><Image src={contact} alt="Contact Right Order" /></a>
			</div>
		</div>
	</div>
</header>
