---
import { Image } from 'astro:assets';
import logo from '../img/logo.svg';
import about from '../img/nav-about.svg';
import services from '../img/nav-services.svg';
import contact from '../img/nav-contact.svg';
---

<header class="navbar is-transparent" role="banner">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" id="logo" href="/" aria-label="Well Sorted home">
				<Image src={logo} alt="Well Sorted" />
			</a>
			<button class="navbar-burger" type="button" aria-label="menu" aria-expanded="false" aria-controls="primaryNav" data-target="primaryNav">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</button>
		</div>
		<div id="primaryNav" class="navbar-menu">
			<div class="navbar-end">
				<a class="navbar-item" href="#about"><Image src={about} alt="About Well Sorted" /></a>
				<a class="navbar-item" href="#services"><Image src={services} alt="Well Sorted Services" /></a>
				<a class="navbar-item linktoform" href="#contact"><Image src={contact} alt="Contact Well Sorted" /></a>
			</div>
		</div>
	</div>
</header>
